.shopMainWrapper {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
.shopWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.headerShopWrapper {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
}
.titleHeaderShopWrapper {
  font-size: 2.3rem;
  font-weight: 600;
  margin: 2vw 4vw;
  text-transform: uppercase;
}
.headerShopWrapper button {
  font-size: 1.1rem;
  padding: 10px 40px;
  margin: 0;
  border-radius: 20px;
  border: 1px solid var(--black);
  color: var(--white);
  font-weight: 600;
  background-color: var(--black);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.headerShopWrapper button:first-child {
  margin-right: -10px;
}
.shopItemsWrapper {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.shopCategory {
  min-width: 290px;
  height: 70vh;
  padding: 80px 2vw;
  color: var(--black);
  font-size: 23px;
}
.shopCategory ul {
  list-style-type: none;
}
.shopCategory ul li {
  display: grid;
  align-items: center;
  grid-template-columns: 50px 100px;
  margin: 25px 0;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.shopCategory ul li:hover {
  background-color: rgb(182, 177, 177);
}
.loginShopWrapper {
  display: flex;
  align-items: center;
  height: 50px;
}
.FontAwesomeIcon {
  font-size: 2rem;
  margin: 0 10px 0 25px;
  cursor: pointer;
  padding: 5px;
}
.FontAwesomeIcon:hover {
  color: var(--hoverBTN);
}
.shoppingCardCounter {
  position: absolute;
  color: var(--white);
  background-color: var(--black);
  border-radius: 100%;
  padding: 5px 10px;
  top: -70%;
  right: 0;
}
.counterWrapper {
  position: relative;
}
.shopItems {
  width: 100%;
  width: 1050px;
  min-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 20px;
}
.isActiveButton {
  background-color: var(--black) !important;
  color: var(--white) !important;
  font-size: 1.3rem !important;
  z-index: 1 !important;
}
.notActive {
  background-color: var(--white) !important;
  color: var(--black) !important;
}
.loginBTN {
  border: none !important;
}
.loginBTN:hover {
  background-color: var(--hoverBTN);
}
.inputShopWrapper {
  position: relative;
}
.searchIcon {
  position: absolute;
  left: 3%;
  top: 25%;
  font-size: 20px;
  color: var(--grey);
}
.headphonesShop {
  width: 35%;
  object-fit: contain;
  border-radius: 10px;
}
.titlePromoShopWrapper h1 {
  font-size: 50px;
}
.titlePromoShopWrapper h2 {
  font-size: 30px;
}
.promoShopWrapper {
  border-radius: 10px;
  background-color: white;
  margin: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 1300px) {
  .shopItems {
    min-width: auto;
    justify-content: space-around;
  }
  .titleHeaderShopWrapper {
    font-size: 2rem;
    margin: 1vw 2vw;
  }
  .headerShopWrapper button {
    font-size: 0.8rem;
    padding: 10px 30px;
  }
  .isActiveButton {
    font-size: 1rem !important;
  }
  .titlePromoShopWrapper h1 {
    font-size: 40px;
  }
  .titlePromoShopWrapper h2 {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  .searchIcon {
    display: none;
  }
  .titleHeaderShopWrapper {
    font-size: 1.6rem;
    margin: 0;
  }
  .headerShopWrapper button {
    font-size: 0.7rem;
    padding: 5px 20px;
  }
  .isActiveButton {
    font-size: 0.9rem !important;
  }
  .FontAwesomeIcon {
    font-size: 1.5rem;
  }
  .shoppingCardCounter {
    padding: 3px 7px;
  }
  .titlePromoShopWrapper h1 {
    font-size: 30px;
  }
  .titlePromoShopWrapper h2 {
    font-size: 15px;
  }
  .headphonesShop {
    width: 50%;
  }
  .shopCategory {
    min-width: auto;
    padding: 40px 1vw;
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .promoShopWrapper {
    width: 100%;
    margin: 0;
  }
  .titlePromoShopWrapper h1 {
    font-size: 20px;
  }
  .shopCategory {
    min-width: auto;
    padding: 10px 1vw;
    font-size: 20px;
    height: auto;
  }
  .shopItemsWrapper {
    flex-direction: column;
  }
  .shopCategory ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  .shopCategory ul li {
    flex-basis: 30%;
    display: flex;
  }
  .FontAwesomeIcon {
    font-size: 2rem;
    margin: 0 10px 0 25px;
    cursor: pointer;
    padding: 5px;
  }
  .shopCategory ul li p {
    padding: 0 10px;
    font-size: 1rem;
  }
  .shopWrapper {
    padding: 5px;
  }
  .shopItems {
    width: 100%;
    justify-content: space-around;
  }
  .shopMainWrapper {
    min-height: 100vh;
    width: 100%;
  }
  .titleHeaderShopWrapper {
    padding: 0 15px 0 0;
  }
}
