.shopItemWrapper {
  min-height: 200px;
  height: 400px;
  flex-basis: 30%;
  max-width: 300px;
  padding: 10px;
  margin: 40px 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: 2px solid var(--lessWhite);
  transition: 0.3s;
}
.shopItemWrapperUpSide {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.shopItemWrapper button {
  height: 10%;
  width: 50%;
  font-size: 1.2rem;
  border: none;
  background-color: var(--black);
  color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}
.shopItemWrapper:hover {
  transform: scale(1.1, 1.1);
}
.imgShopItem {
  height: 60%;
  width: 100%;
  cursor: pointer;
  object-fit: contain;
}
.titleShopItem {
  height: 20%;
  color: var(--black);
  font-weight: 500;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  user-select: text;
}
.priceShopItem {
  height: 10%;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--black);
}

.addItemButtonFullCart {
  background-color: var(--greyHover) !important;
}
.shopItemWrapper button:hover {
  background-color: var(--hoverBTN);
}
.clickedButton::after {
  position: absolute;
  left: 150px;
  top: 2px;
  color: red;
  content: "+1";
  opacity: 0;
  animation: 0.2s buttonClick linear;
  font-family: 'Indie Flower', cursive;
}
@keyframes buttonClick {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media(max-width:1300px){
  .shopItemWrapper {
    height: 350px;
    flex-basis: 45%;
    max-width:auto;
    margin: 25px 15px;
  }
}
@media(max-width:1050px){
  .shopItemWrapper {
    height: 350px;
    flex-basis: 45%;
    max-width:auto;
    margin: 15px 10px;
  }
}
@media (max-width: 800px) {
  .shopItemWrapper {
    transition:none;
  }
  .shopItemWrapper:hover {
    transform:none;
  }
  .titleShopItem {
    font-size: 0.8rem;
  }
  .shopItemWrapperUpSide {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }
}
@media (max-width: 600px) {
  .shopItemWrapper {
      flex-basis: 95%;
  }
}