.loadingWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  background-color: white;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
.loadingWrapper span {
  position: relative;
}
.loadingWrapper span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  animation: dots 2s steps(4, end) infinite;
}
@keyframes dots {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
