.inputShop {
  padding: 10px 40px;
  border-radius: 15px;
  border: none;
  font-size: 1.1rem;
  background-color: var(--white);
  outline: none;
}
.filtredListShopInput {
  position: absolute;
  width: 400px;
  list-style: none;
  background-color: white;
  border: 2px solid var(--lessWhite);
  border-radius: 5px;
  z-index: 3;
}
.filtredListShopInputItem {
  padding: 10px 25px;
  border-bottom: 1px solid var(--lessWhite);
  overflow: hidden;
  position: relative;
}
.filtredListShopInputItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: -23px;
  border-left: 18px solid black;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
.filtredListShopInputItem:hover::before {
  left: 0;
}
.filtredListShopInputItem img {
  height: 60px;
  width: 40px;
  object-fit: contain;
  margin-right: 15px;
}
.filtredListShopInputItem div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .filtredListShopInput {
    width: 300px;
  }
  .inputShop {
    padding: 10px 40px;
    font-size: 0.9rem;
  }
}
@media (max-width: 1050px) {
  .filtredListShopInput {
    width: 300px;
  }
  .inputShop {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .inputShop {
    display: none;
  }
  .filtredListShopInput {
    width: 0px;
  }
}
