.wrapperContact {
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  position: relative;
}
.bottomWrapperContact {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%);
  height: 15vh;
  text-align: center;
}
.bottomWrapperContact img {
  width: 100px;
  padding: 0 20px;
  cursor: pointer;
}
.bottomWrapperContact h3 {
  font-size: 25px;
  padding: 15px;
  font-family: "Indie Flower", cursive;
}
.adressDetailsContact {
  font-size: 23px;
  text-align: center;
  position: absolute;
  bottom: 45vh;
  right: 10%;
  padding: 20px;
  border: 2px solid grey;
  user-select: text;
}
.buttonArrowUp {
  padding: 25px;
  background: none;
  position: absolute;
  bottom: 10%;
  right: 5%;
  border: 1px solid var(--grey);
  overflow: hidden;
  cursor: pointer;
}
.arrowUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  animation: strzalki 2s linear infinite both;
}

@keyframes strzalki {
  0% {
    top: 120%;
  }
  100% {
    top: -120%;
  }
}
@media (max-width: 1300px) {
  .adressDetailsContact {
    font-size: 17px;
    width: 350px;
    padding: 10px;
  }
}
@media (max-width: 1000px) {
  .adressDetailsContact {
    font-size: 16px;
    width: 80%;
    bottom: 75vh;
    right: 50%;
    transform: translate(50%);
  }
}
@media (max-width: 600px) {
  .bottomWrapperContact {
    bottom: 10px;
    height: 10vh;
  }
  .bottomWrapperContact img {
    width: 40px;
    padding: 0 1px;
  }
  .bottomWrapperContact h3 {
    padding: 10px;
  }
  .adressDetailsContact {
    font-size: 16px;
    width: 90%;
    bottom: 70vh;
    right: 50%;
    transform: translate(50%);
  }
}
@media (max-width: 400px) {
  .bottomWrapperContact {
    bottom: 80px;
    height: 3vh;
  }
  .adressDetailsContact {
    display: none;
  }
}
