* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --white: #ffffff;
  --black: black;
  --lessWhite: rgb(224, 224, 224);
  --grey: rgba(150, 150, 150, 0.877);
  --greyHover: rgba(187, 184, 184, 0.877);
  --hoverBTN: rgb(54, 54, 54);
}
body {
  background: rgb(224, 224, 224);
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 69%,
    rgba(191, 191, 231, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  user-select: none;
}
a:link {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1600px;
  padding: 0 20px;
}
button {
  font-family: "Poppins", sans-serif;
}
